.left-chat-div{
	margin-top: 0px;
	background-color: #fff;
	overflow-y: auto;
	border-radius: 10px;
	min-width: 260px;
}
.left-chat-div::-webkit-scrollbar
{
    border-radius: 10px;
    width: 3px;
    background: #fff;
}
.left-chat-div::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(0,0,0,.3);
}
#textarea::-webkit-scrollbar{
	border-radius: 10px;
    width: 3px;
    background: #fff;
}
#textarea::-webkit-scrollbar-thumb{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(0,0,0,.3);
}
.right-chat-div{
	display: block;
	margin-top: 0px;
	background-color: #EFEFF4;
	overflow-y: auto;
	border-radius:0px 0px 10px 10px ;
}
.right-chat-div::-webkit-scrollbar
{
    border-radius: 10px;
    width: 3px;
    background: #fff;
}
.right-chat-div::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: rgba(0,0,0,.3);
}
.nav-head{
	width:100%;
	height: 50px;
	background: #3e3e40;
	border-radius:10px 10px 0px 0px ;
}
.mui-table-view-cell{
	cursor: pointer;
	color:#5f5f61;
}
.mui-table-view-cell{
	border-left: solid 4px #fff;
}
.leftdiv-addclass{
	border-left: solid 4px #1C86EE;
	color: #0062CC;
	background-color: #e3e3e5;
}
.main-contaoner{
	padding: 20px;
}
.input-chat{
	top: 0px;
	background-color: #fff;
	border: solid 1px #ccc;
	border-radius: 10px;
	padding: 10px;
}
.right-send-chat{
    padding-left:15px;
    width: 92%;
    display: block;
    padding:10px;
    overflow: hidden;
}
.send-txt{
	color:#fff;
	float: right;
	display: block;
	padding: 8px;
	background-color:#1C86EE;
	border-radius: 8px;
}
.left-get-chat{
	margin-right:15px;
    width: 100%;
    display: block;
    padding:10px;
    overflow: hidden;
}
.get-txt{
	color:#fff;
	float: left;
	display: block;
	padding: 8px;
	background-color:rgba(0,0,0,0.6);
	border-radius: 8px;
}
.chat-toptip{
	color: #fff;
	font-size: 5px;
	width: 100px;
	padding: 2px;
	margin: auto;
	text-align:center;
	border-radius: 10px;
	background-color:rgba(0,0,0,.2);
}
.right-send-time{
	padding-left:15px;
    width: 92%;
    display: block;
    padding-right:10px;
    overflow: hidden;
}
.right-send-time span{
	font-size: 6px;
	color:#fff;
	float: right;
	display: block;
	padding: 1px;
	background-color:#C8C7CC;
	border-radius: 4px;
}
.left-get-time{
	margin-right:15px;
    width: 100%;
    display: block;
    padding-left:10px;
    overflow: hidden;
}
.left-get-time span{
	font-size: 6px;
	color:#fff;
	float: left;
	display: block;
	padding: 1px;
	background-color:#C8C7CC;
	border-radius: 4px;
}
.left-list-time{
	font-size: 2px;
	float: right;
}
.last-text{
	font-size: 4px;
	margin-left: 26px;
	width: 100px;
	height: 25px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
